.my-card {
padding: 1rem;
}

.my-img {

}

.my-h2 {
    padding: 1rem 0 .5rem 0;
    font-weight: bold;
    font-size: 1rem;
}

.my-h3 {
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: .8rem;
}